//Primary-Colors
$theme-pink: hsl(322, 100%, 66%);
$theme-light-pink: hsl(321, 100%, 78%);
$theme-light-red: hsl(0, 100%, 63%);

//Neutral-Colors
$theme-dark-cyan: hsl(192, 100%, 9%);
$theme-light-cyan: hsla(192, 100%, 9%, 0.5);
$theme-pale-blue: hsl(207, 100%, 98%);
$theme-white: hsl(0, 0%, 100%);
$theme-light-white: hsla(0, 0%, 100%, 0.8);