@use '../components/' as *;

//logo-styles
.logo {
    width: 100%;
    max-width: 8rem;
    height: auto;

    &--light {
        filter: brightness(0) invert(1);
    }

    @include breakpoint (tablet) {
        max-width: 10rem;
    }

    @include breakpoint (tablet-xl) {
        max-width: 13rem;
    }

    // @include breakpoint (desktop) {
    //     &__logo {
    //         max-width: 15rem;
    //     }
    // }
}