@use '../global/' as *;
@use '../components/' as *;

.features {
    @include flex;
    gap: 4rem;

    &__card {
        @include flex;
        gap: 4rem;
        padding: 3rem;
        background-color: $theme-pale-blue;

        &-image {
            max-width: 18rem;
            border: 1px solid;
        }

        &-content {
            text-align: center;
            color: $theme-dark-cyan;
        }

        &-title {
            font: $theme-subheader-style;
            margin-bottom: 1rem;
        }

        &-paragraph {
            font: $theme-paragraph-style;
            font-weight: $medium;
        }
    }
}

.community {
    text-align: center;
    padding: 3rem;
    margin-bottom: 4rem;

    &__header {
        font: $theme-header-style;
        margin-bottom: 3rem;
    }

    &__btn {
        padding: 0.8rem 2rem;
    }
}