@use '../global/' as *;
@use '../components/' as *;

footer {
    color: $theme-white;
    padding: 2rem;
    background-color: $theme-dark-cyan;
}

.newsletter {
    @include flex($align: start);
    gap: 1.5rem;
    margin-bottom: 4rem;

    &__title {
        font: {
            family: $theme-paragraph-font;
            size: 1.25rem;
            weight: $medium;
        }
    }

    &__paragraph {
        font: $theme-paragraph-style;
        line-height: 1.7;
    }

    &__form {
        @include flex;
        gap: 1rem;
        width: 100%;
        font: $theme-paragraph-style;

        &-email {
            display: block;
            width: 100%;
            padding: 12px 20px;
            border: none;
            border-radius: 0.5rem;
        }

        &-btn {
            align-self: flex-end;
            width: 10rem;
            font-size: 1rem;
            font-weight: $bold;
            color: $theme-white;
            padding: 12px 20px;
            border: none;
            border-radius: 0.5rem;
            background-color: $theme-pink;
        }
    }
}

.footer {

    &__main {
        @include flex($align: flex-start);
        gap: 1.5rem;
    }

    &__logo {
        max-width: 12.5rem;
    }

    &__paragraph {
        font: $theme-paragraph-style;
        line-height: 1.7;
    }

    &__address {
        margin-top: 1rem;

        &>* {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1.2rem;
            font: $theme-paragraph-style;

            &::before {
                display: inline-block;
                width: fit-content;
                height: fit-content;
                line-height: 0%;
            }
        }

        &-phone {
            margin-bottom: 1rem;

            &::before {
                content: url(../images/icon-phone.svg);
            }
        }

        &-email::before {
            content: url(../images/icon-email.svg);
        }
    }

    &__socials {
        @include flex(row, $align: flex-start);
        gap: 1rem;
        margin-top: 1rem;

        &-item {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 1.5rem;
            height: 1.5rem;
        }
    }

}

.icon {
    width: 100%;
    aspect-ratio: 3/3;
    filter: invert(100%);
    -webkit-filter: invert(100%);

    &:hover {
        transform: scale(1.1);
    }
}