@use '../global/' as *;
@use '../components/' as *;

.hero {
    @include flex;
    gap: 5rem;
    padding: 3rem;
    padding-top: 8rem;
    margin-bottom: 5rem;


    &__content {
        text-align: center;
        color: $theme-dark-cyan;
    }

    &__title {
        font: $theme-header-style;
        margin-bottom: 1.5rem;
    }

    &__paragraph {
        font: $theme-paragraph-style;
        max-width: 35rem;
        margin: 0 auto;
        margin-bottom: 4rem;
    }

    &__image {
        max-width: 20rem;
    }

    &__stats {
        @include flex;
        gap: 5rem;

        &-item {
            font: {
                family: $theme-paragraph-font;
                size: 3.5rem;
                weight: $bold;
            }
            text-align: center;

            &::before {
                display: block;
                content: "";
                text-align: left;
                line-height: 0%;
                width: 35px;
                height: 30px;
                background: {
                    size: contain;
                    position: center;
                    repeat: no-repeat;
                }
            }

            &-one::before {
                background-image: url(../images/icon-communities.svg);
            }

            &-two::before {
                background-image: url(../images/icon-messages.svg);
            }
        }

        &-paragraph {
            display: block;
            font: {
                size: 0.875rem;
                weight: $medium;
            }
            color: $theme-light-cyan;
        }
    }

    @include breakpoint (tablet) {
        padding-top: 12rem;
        margin-bottom: 7rem;

        &__image {
            max-width: 100%;
        }

        &__stats {
            flex-direction: row;
            gap: 10rem;
        }
    }

    @include breakpoint (tablet-xl) {
        padding-top: 15rem;

        &__stats {
            gap: 15rem;
        }
    }

    @include breakpoint (desktop) {
        gap: 8rem;
        padding: 5rem;
        padding-top: 15rem;
        margin-bottom: 10rem;

        &__stats {
            gap: 20rem;

            &-item {
                font-size: 5rem;

                &::before {
                    width: 40px;
                    height: 35px;
                }
            }

            &__paragraph {
                font-size: 1.2rem
            }
        }
    }

}