@use './colors' as *;
@use './typography' as *;
@use '../components/' as *;

//button-box-shadows
$btn-box-shadow: 
            0px 0px 20px -8px rgb(0 0 0 / 10%),
            0px 0px 20px -8px rgb(0 0 0 / 10%);

$btn-bover-box-shadow:
            0 14px 28px rgba(0,0,0,0.25),
            0 10px 10px rgba(0,0,0,0.22);

//button-styles
.btn {
    width: 100%;
    max-width: 7rem;
    padding: 0.5rem 1rem;

    font-family: $theme-paragraph-font;
    font-weight: $medium;
    font-size: 0.8rem;
    text-align: center;
    text-decoration: none;
    color: $theme-pink;

    border: 1px solid $theme-pink;
    border-radius: 2rem;
    background-color: transparent;
    box-shadow: $btn-box-shadow;

    &--big {
        padding: 0.8rem 3rem;
        font-size: 0.9rem;
    }

    @include hover {
        &:hover {
            box-shadow: $btn-bover-box-shadow;
        }
    }

    &--pink {
        color: $theme-white;
        background-color: $theme-pink;

        @include hover {
            &:hover {
                border-color: $theme-light-pink;
                background-color: $theme-light-pink;
            }
        }
    }
}