//font-families
$theme-header-font: 'Poppins', sans-serif;
$theme-paragraph-font: 'Open Sans', sans-serif;

//font-weights
$normal: 400;
$medium: 600;
$bold: 700;

//theme-font-styles
$theme-header-style: $bold 1.6rem $theme-header-font;
$theme-subheader-style: $bold 1.25rem $theme-header-font;
$theme-paragraph-style: $medium 0.875rem $theme-paragraph-font;